<!-- 品牌故事 -->
<c:layout>
  <link rel="stylesheet" href="../styles/index.css" slot="style">
  <c:tab-history .selected-index="0" />
  <img src="../images/b1.jpg" alt="" class="img-responsive">
  <div class="container brand-story">

    <h2>品牌理念：是机器人，更是家人</h2>
    <p>
      科沃斯机器人坚持以“智生活，享人生”为愿景，以“让机器人服务全球家庭”为使命，积极探索如何为用户带来更好的使用体验，期待让机器人走入全球更多家庭，成为用户的家庭的一份子，让用户轻松享受由机器人参与的现代智能家居生活。
    </p>

    <h2>发展历程：成功实现三次转型</h2>
    <p>
      在科沃斯机器人创始人钱东奇的带领下，公司历经三次转型：从传统吸尘器制造到扫地机器人；从扫地机器人到家用机器人完整产品线；从家用机器人到机器人化，互联网化，国际化战略发展；科沃斯机器人十余年的在机器人领域的探索积累了丰富的研发，市场，品牌经验。
    </p>

    <h2>研发：坚持“用户第一”为核心的，沿着机器人由工具到管家到伴侣的发展路径持续创新</h2>
    <p>
      科沃斯机器人产品的研发一直以解决用户的需求为产品的根本导向，始终坚持以“用户第一”为核心的持续创新。科沃斯机器人始终坚持着家用机器人从“工具”到“管家”再到“伴侣”这一理念，在加强技术创新的同时融入了更多的人性化，并坚信未来家用机器人将是“物与物”、“物与人”和“人与人”连接的中心。</p>
    <p>自2006年起，公司每年投入科技创新经费超过数千万元人民币，每年均有多项研发新品推出，使得公司的家庭服务机器人技术不断完善。公司始终坚持以市场为导向，从战略高度适时地对研发产品进行规划及调整，使科技创新具有高度的战略性和方向性。2009年至今，科沃斯机器人相继推出科沃斯地宝、窗宝、亲宝、沁宝等划时代的机器人创新产品。2016年，科沃斯机器人也正式推出了全新的管家机器人UNIBOT，通过机器人智能管控家庭，从而把智能家居推向一个新高度。新产品的不断涌现及高端机器人科技的应用，充分证明了科沃斯机器人自主创新的实力。
    </p>

    <h2>市场：家用机器人市场领导者</h2>
    <p>
      科沃斯机器人通过“技术专利化、专利标准化、标准国际化”的模式，科沃斯机器人组织和引导企业加强技术标准的研究，促进自主创新与技术标准的融合，积极参与制定行业标准、国家标准和国际标准，抢占产业制高点。
    </p>
    <p>
      除了来自行业的认可，出色的市场表现也不断地证明科沃斯机器人的实力，以电商领域为例，2013-2016年“双十一”期间，据天猫平台统计，科沃斯在天猫平台的单日全网成交额连续多年蝉联生活电器类产品的销售冠军。
    </p>

    <h2>国际化：中国创造改变世界对中国品牌的看法</h2>
    <p>
      科沃斯机器人所代表的中国创造，也改变着世界对“中国制造”的看法。2013年2月，科沃斯机器人参加芝加哥国际家庭用品博览会(IHA)，并荣获组委会颁发的唯一一项创新大奖。接下来的3月，窗宝W730荣获2013年度中国家电艾普兰“科技创新奖”。同年7月，科沃斯机器人又荣获了美国Housewares Executive颁发的“2013年度家庭服务机器人创新金奖”。2014年1月，拉斯维加斯CES国际消费电子展授予科沃斯“创新设计与工程奖”。这一系列的数据和奖项不仅是对科沃斯机器人创新能力的肯定，也是未来科沃斯人继续坚持创新之路的重要基石。科沃斯机器人作为有机器人参与的生活方式的倡导者和家庭服务机器人的先行者，赢得了国际业界的广泛肯定。
    </p>
    <p>
      科沃斯机器人致力于成为国际化的中国企业，采取“先难后易”的国际化策略——即先进入市场成熟、竞争激烈的发达国家的市场，后进入发展中国家市场。目前，科沃斯机器人先后在德国、美国、日本建立了销售子公司，并成功开拓西班牙、瑞士、法国、加拿大、捷克、波兰、德国、伊朗、马来西亚等多个国家和地区的市场。援引自德国GFK的数据，科沃斯机器人在2017年6月成为了德国市场占有率第一的品牌,同时在整个亚太也稳居市场占有率第一位。
    </p>
    <p>
      同时科沃斯机器人继续以世界市场作为企业的发展空间，不断地提升着产品的全球竞争力、企业的管理能力和品牌的价值，真正实现让机器人服务全球家庭，做到智生活，享人生。
    </p>
  </div>
</c:layout>