<!--管理团队  -->
<c:layout>
  <link rel="stylesheet" href="../styles/index.css" slot="style">
  <c:tab-history .selected-index="0" />
  <div class="brand-team">
    <img src="../images/b2.jpg" class="img-responsive">
    <div class="container">
      <h2>钱东奇</h2>
      <p>科沃斯机器人创始人、董事长<br>
      南京大学物理学学士、哲学系硕士<br>
      福布斯2015年中美十大创新人物<br>
      新华日报2016年度经济封面人物<br>
      钱东奇先生始终致力于“让机器人服务全球家庭”的使命，坚持“智生活，享人生”的理念，竭力为全球千万家庭提供专业、智能的家庭服务机器人。</p>
    </div>
    <img src="../images/b3.jpg" class="img-responsive">
    <div class="container">
      <h2>庄建华</h2>
      <p>科沃斯机器人有限公司总经理<br>
      苏州市吴中区人大常委<br>
      苏州市吴中区长桥商会副会长<br>
      苏州市吴中区女性发展研究会理事<br>
      庄建华女士先后荣获苏州市“五一”劳动奖章、苏州市十大杰出“创新创业·巾帼科技之星”、苏州市十佳姑苏女性科技创新奖、苏州市“十大女杰”等多项荣誉。</p>
    </div>
  </div>
</c:layout>