<!--核心价值  -->
<c:layout>
  <link rel="stylesheet" href="../styles/index.css" slot="style">
  <c:tab-history .selected-index="0" />
  <div class="brand-value">
    <img src="../images/b4.jpg" class="img-responsive">
    <div class="container">
      <h2>我们的使命 Mission</h2>
      <p>让机器人服务全球家庭
        <br> Let Ecovacs robots serve families around the world
        <br> 以坚实的技术提升产品品质，以严谨的管理打造优质服务，以先进的理念引领企业发展， 为全球家庭的美好生活贡献价值。
      </p>
      <h2>我们的愿景 Vision</h2>
      <p>智生活 享人生
        <br>Live Smart. Enjoy Life.
        <br>以智慧的力量探索新领域，真诚回馈社会，创造令人满意的智慧生活！</p>
      <h2>我们的核心价值观 Core Value</h2>
      <p>核心价值观：用户第一，务实创新，激情卓越，诚信共赢
        <br> Customers first, practical innovation, passion and excellence, integrity and win-win</p>
      <p>注释：
        <br> 1、用户第一：一切以用户为中心，用最优的产品体验和最佳的服务，致力于超越用户预期
        <br> 2、务实：尊重规律，脚踏实地，拒绝空想，相信一分耕耘一分收获
        <br> 3、创新：勇于突破自我、挑战陈规，敢为人先，持续创造新的价值
        <br> 4、激情：乐观向上、高效进取、执着专注、全情投入，保持高昂斗志，释放最大潜能
        <br> 5、卓越：坚持高标准、高要求，追求极致、永争第一
        <br> 6、诚信：讲信用，守承诺，言必信，行必果
        <br> 7、共赢：以人为本，心存感恩，开放合作，相互成就
        <br> 6、诚信：讲信用，守承诺，言必信，行必果
        <br> 7、共赢：以人为本，心存感恩，开放合作，相互成就
      </p>
    </div>
  </div>
</c:layout>