<div class="index">
  <img src="../../images/loading.png" class="loading welcome">
  <img src="../../images/loading_bling.jpg" class="loading_bling welcome">
  <video id="video1" class="hide" preload="load" width="100%" height="auto" playsinline="true" webkit-playsinline="true" x-webkit-airplay="allow"
    airplay="allow" x5-video-player-type="h5" x5-video-player-fullscreen="true" x5-video-orientation="portrait" src="../../images/video1.mp4"></video>
  <img src="../../images/shouji.jpg" class="shouji hide">
  <p class="v1-click hide">
    <img src="../../images/1.png">
  </p>
  <video id="video2" class="hide" preload="load" width="100%" height="auto" playsinline="true" webkit-playsinline="true" x-webkit-airplay="allow"
    airplay="allow" x5-video-player-type="h5" x5-video-player-fullscreen="true" x5-video-orientation="portrait" src="../../images/video2.mp4"></video>
  <div class="v2-click hide">
    <img class="over-img" src="../../images/over.jpg">
    <img class="over-help" src="../../images/btn_help.png">
    <img class="over-again" src="../../images/btn_again.png">
    <img class="over-share" src="../../images/btn_share.png">
  </div>
  <div class="finish-box hide">
    <img class="top-tip" src="../../images/03.png">
    <div class="qr-box">
      <p class="qr-img">
        <img src="../../images/05.png">
      </p>
      <p class="qr-tip">
        <img src="../../images/04.png">
      </p>
    </div>
  </div>
  <div class="share hide"></div>
  <p class="toast hide">复制成功</p>
</div>