<!--科沃斯APP  -->
<c:layout nobreadcrumb='true' nopad='true'>

  <style>
    img {
      border-top-style: none;
      border-right-style: none;
      border-bottom-style: none;
      border-left-style: none;
    }
    
    .list4 {
      width: 1170px;
      margin: 0 auto;
    }
    
    .list4 ul {
      margin: 0;
      padding: 0;
    }
    
    .list4 ul li {
      width: 230px;
      height: 300px;
      float: left;
      text-align: center;
      list-style-type: none;
    }
    
    #main {
      width: 100%;
    }
    
    .miwifi3 {
      -webkit-font-smoothing: antialiased
    }
    
    .miwifi3 h1,
    .miwifi3 h2,
    .miwifi3 h3,
    .miwifi3 ul,
    .miwifi3 li,
    .miwifi3 dl,
    .miwifi3 dd,
    .miwifi3 p {
      margin: 0;
      padding: 0;
      font-weight: 400
    }
    
    .miwifi3 li {
      list-style-type: none
    }
    
    .miwifi3 .section h1 {
      font-size: 60px;
      color: #000;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 28px
    }
    
    .miwifi3 .section h2 {
      font-size: 40px;
      color: #010101;
      font-weight: 400;
      line-height: 1
    }
    
    .miwifi3 .section .infor-h3 {
      font-size: 24px;
      display: block;
      line-height: 1
    }
    
    .miwifi3 .section p {
      font-size: 16px;
      color: #1e2124;
      line-height: 30px
    }
    
    .ui-wrapper {
      position: relative;
      margin: 0;
      padding: 0;
      *zoom: 1
    }
    
    @font-face {
      font-family: 'Ff232d';
      src: url("//i1.mifile.cn/v2/MI_127725977E2BD3/1277/1633179/file/f/f232dd2c7c440d.eot");
      src: local(FZLanTingHei-EL-GBK), url("//i1.mifile.cn/v2/MI_127725977E2BD3/1277/1633179/file/f/f232dd2c7c440d.eot?#iefix") format("embedded-opentype"), url("//i1.mifile.cn/v2/MI_127725977E2BD3/1277/1633179/file/f/f232dd2c7c440d.woff") format("woff"), url("//i1.mifile.cn/v2/MI_127725977E2BD3/1277/1633179/file/f/f232dd2c7c440d.ttf") format("truetype"), url("//i1.mifile.cn/v2/MI_127725977E2BD3/1277/1633179/file/f/f232dd2c7c440d.svg") format("svg")
    }
    
    .miwifi3 .section {
      text-align: center
    }
    
    .miwifi3 .section .infor-h3 {
      margin: 25px 0 16px
    }
    
    .miwifi3 .section .webfont {
      font-family: 'Ff232d', "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif
    }
    
    .miwifi3 .section i {
      width: 20px;
      height: 20px;
      display: inline-block;
      *zoom: 1;
      *display: inline;
      margin: 0 0 0 10px;
      vertical-align: -4px
    }
    
    .miwifi3 .section-infor {
      height: 588px;
      padding-top: 212px;
      text-align: left
    }
    
    .miwifi3 .section-infor h1 span {
      display: inline-block;
      *zoom: 1;
      *display: inline;
      text-indent: -9999px;
      width: 52px;
      height: 52px;
      vertical-align: -4px;
      margin-left: 20px
    }
    
    .miwifi3 .section-infor h2 {
      font-size: 36px;
      margin-bottom: 10px
    }
    
    .miwifi3 .section-infor .content {
      margin-left: 136px
    }
    
    .miwifi3 .section-manage {
      height: 673px;
      position: relative
    }
    
    .miwifi3 .section-manage p {
      color: #474c51
    }
    
    .miwifi3 .section-manage .container {
      position: relative;
      height: 563px;
      padding-top: 110px;
    }
    
    .miwifi3 .section-manage .content {
      position: relative;
      z-index: 3
    }
    
    .miwifi3 .section-manage .content div {
      /*border: 1px solid #fff;*/
      border-radius: 20px;
      width: 564px;
      height: 40px;
      margin: 42px auto 0
    }
    
    .miwifi3 .section-manage .phone {
      width: 507px;
      height: 465px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 6;
      overflow: hidden;
      _zoom: 1
    }
    
    .miwifi3 .section-manage .phone .screen-hand {
      width: 507px;
      height: 465px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 20;
      overflow: hidden;
      _zoom: 1
    }
    
    .miwifi3 .section-manage .phone .screenbg {
      z-index: 11;
      position: absolute;
      top: -2px;
      left: -6px;
      width: 269px;
      height: 475px;
      overflow: hidden;
      _zoom: 1;
      -webkit-transform: matrix3d(0.9689, 0.09543, 0, -0.00003, -0.12719, 0.96885, 0, -0.00004, 0, 0, 1, 0, 198, 51, 0, 1);
      transform: matrix3d(0.9689, 0.09543, 0, -0.00003, -0.12719, 0.96885, 0, -0.00004, 0, 0, 1, 0, 198, 51, 0, 1);
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0
    }
    
    .miwifi3 .section-manage .phone ul {
      width: 999px;
      position: relative
    }
    
    .miwifi3 .section-manage .phone .screen {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      width: 269px;
      height: 475px
    }
    
    .miwifi3 .section-manage .phone .screen02,
    .miwifi3 .section-manage .phone .screen03 {
      left: 269px
    }
    
    .miwifi3 .section-manage .tab-btn {
      float: left;
      width: 140px;
      background-color: #e3e9eb;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e3e8ea", endColorstr="#253746") 9;
      color: #455561;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      cursor: pointer
    }
    
    .miwifi3 .section-manage .tab-btn.current,
    .miwifi3 .section-manage .tab-btn:hover {
      background-color: #d1d7d9;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e3e8ea", endColorstr="#253746") 9
    }
    
    .miwifi3 .section-manage .tab-btn-01 {
      border-left: 1px solid #fff;
      border-right: 1px solid #fff
    }
    
    .miwifi3 .section-manage .tab-btn-04 {
      border-right: 1px solid #fff
    }
    
    .miwifi3 .section-manage .tab-btn-03 {
      border-radius: 0 20px 20px 0
    }
    
    .miwifi3 .section-manage .tab-btn-02 {
      border-radius: 20px 0 0 20px
    }
    
    .miwifi3 .section-manage .list {
      position: absolute;
      width: 100%;
      top: 0;
      left: 50%;
      margin-left: -50%;
      height: 100%;
      z-index: 2
    }
    
    .miwifi3 .section-manage .list .item {
      opacity: 0;
      filter: alpha(opacity=0) 9;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: opacity 1s ease-out;
      transition: opacity 1s ease-out
    }
    
    .miwifi3 .section-manage .list .container {
      position: relative
    }
    
    .miwifi3 .section-manage .list .item-con {
      position: absolute;
      top: 468px;
      left: 653px;
      text-align: left
    }
    
    .miwifi3 .section-manage .list .item-con h2 {
      margin-bottom: 17px
    }
    
    .miwifi3 .section-manage .list .current {
      opacity: 1;
      filter: alpha(opacity=100) 9
    }
    
    .miwifi3 .section-manage.preload .screen-hand {
      background: url("https://static.ecovacs.cn/upload/image/20160914/20160914141651_84476.png") no-repeat 50% 50%
    }
    
    .miwifi3 .section-manage.preload .list .item01 {
      background: url("https://static.ecovacs.cn/upload/image/20170523/20170523163154_99903.jpg") no-repeat 50% 50%
    }
    
    .miwifi3 .section-manage.preload .list .item02 {
      background: url("https://static.ecovacs.cn/upload/image/20170523/20170523163201_68543.jpg") no-repeat 50% 50%
    }
    
    .miwifi3 .section-manage.preload .list .item03 {
      background: url("https://static.ecovacs.cn/upload/image/20170523/20170523163206_61044.jpg") no-repeat 50% 50%
    }
    
    .miwifi3 .section-manage.preload .list .item04 {
      background: url("https://static.ecovacs.cn/upload/image/20170523/20170523163211_87739.jpg") no-repeat 50% 50%
    }
    
    .miwifi3 .section-manage.preload .screen01 {
      background: #fff url("https://static.ecovacs.cn/upload/image/20160918/20160918094117_21449.jpg") no-repeat 0 0;
      background-size: 100% 100%
    }
    
    .miwifi3 .section-manage.preload .screen02 {
      background: #fff url("https://static.ecovacs.cn/upload/image/20160918/20160918094117_42899.jpg") no-repeat 0 0;
      background-size: 100% 100%
    }
    
    .miwifi3 .section-manage.preload .screen03 {
      background: #fff url("https://static.ecovacs.cn/upload/image/20160918/20160918094117_84854.jpg") no-repeat 0 0;
      background-size: 100% 100%
    }
    
    .miwifi3 .section-manage.section-manage-wifi h2,
    .miwifi3 .section-manage.section-manage-wifi p,
    .miwifi3 .section-manage.section-manage-wifi .infor-h3 {
      color: #fff
    }
  </style>
  <div id="main">
    <div style="background:url(https://static.ecovacs.cn/upload/image/20170524/20170524150615_13318.jpg) no-repeat top center;height:600px;width:100%;"></div>
    <div class="miwifi3">
      <div class="section-quick" style="display:none;"></div>
      <div class="section section-manage preload is-visible">
        <div class="container">
          <div class="content">
            <div class="">
              <span class="tab-btn tab-btn-02 current">远程操控</span><span class="tab-btn tab-btn-01">定时预约</span><span class="tab-btn tab-btn-04">清扫日志</span>
              <span class="tab-btn tab-btn-03">更多辅助功能</span>
            </div>
          </div>
        </div>
        <div class="list">
          <div class="item item01 current">
          </div>
          <div class="item item02">
          </div>
          <div class="item item03">
          </div>
          <div class="item item04">
          </div>
        </div>
      </div>
    </div>
    <div style="background:url(https://static.ecovacs.cn/upload/image/20170524/20170524145904_42322.jpg) no-repeat top center;height:896px;width:100%;">
    </div>
    <div style="background:url(https://static.ecovacs.cn/upload/image/20170524/20170524150123_49959.jpg) no-repeat top center;height:635px;width:100%;">
    </div>
  </div>
  <script type="text/javascript" src="http://static.ecovacs.cn/hd/wjf/wjf_base.js"></script>
  <script type="text/javascript" src="http://static.ecovacs.cn/hd/wjf/wjf_xg.js"></script>
</c:layout>