.list {
  &__title {
    /* line-height: 30px; */
    margin-bottom: 10px;
  }
  &__item {
    display: block;
    line-height: 2;
  }
  &__bottom {
    margin-top: 70px;
  }
  &--h &__item {
    font-size: inherit;
    display: inline-block;
    margin: 0 6px;
  }
}