<!-- 新手使用指南 -->
<c:layout>
  <link rel="stylesheet" href="../styles/index.css" slot="style">
  <img src="../images/help-top.jpg" alt="">
  <!-- <div class="jumbotron">
    <h1>新手使用指南</h1>
    <p>您是扫地机器人新用户吗？了解您的扫地机器人并了解它附带的一些强大功能。</p>
  </div> -->
  <div class="container">
    <div class="container-help">
      <div class="row step">
        <div class="row__left step__num">1</div>
        <div class="row__content">
          <h3>新机使用前注意，具体可参照说明书(注意事项部分)</h3>
          <p>使用前务必将家里整理整齐，散落在地面上的杂物也请移除。地宝会顺利清扫，还您一个洁净如新的家<br>地宝第一次到家，请务必陪同，若遇到地宝难以克服的障碍，请为其排忧解难。您对地宝的帮助必将得到地宝更加智慧更加勤劳的回报；</p>
          <img src="../images/1.jpg">
        </div>
      </div>
      <div class="row step">
        <div class="row__left step__num">2</div>
        <div class="row__content">
          <h3>新机使用前需要移除防护条</h3>
          <p>首次使用之前，请务必移除地宝撞板上的防护条，以确保机器正常使用。</p>
          <img src="../images/2.jpg">
        </div>
      </div>
      <div class="row step">
        <div class="row__left step__num">3</div>
        <div class="row__content">
          <h3>新机使用前充电及安装配件准备</h3>
          <p>a、安放充电座，将充电座平坦靠墙放置，左右0.5m及前方1.5m内不要放置物品，且不能有镜子等反射面较强的物体，链接电源；</p>
          <img src="../images/3.jpg">
          <p>b、如果需要安装边刷时，根据卡槽的颜色，一一对应安装边刷（红配红，绿配绿），咔擦一声，边刷安装到位。</p>
          <img src="../images/4.jpg">
          <p>C 、新机使用前需要安装电池（备注：部分机型需要安装电池：如朵朵和朵朵S）：部分机型需要安装电池，将电池组装入主机底部的电池槽，请按电池至锁住；如若更换电池时请在机器关机状态下取出电池。</p>  
        </div>
      </div>
      <div class="row step">
        <div class="row__left step__num">4</div>
        <div class="row__content">
          <h3>新机使用时需要打开主机电源</h3>
          <p>将主机电源打开，待启动键常亮，开机成功。（主机电源位置可参考说明书）</p>
          <img src="../images/5.jpg">
          <p>（此图仅作参考，具体可参照说明书，以实际购买机型为准）</p>
        </div>
      </div>
      <div class="row step">
        <div class="row__left step__num">5</div>
        <div class="row__content">
          <h3>新机使用充电注意事项</h3>
          <p>a 、新机使用前需要摆放充电座并将充电座连接电源。主机放至充电座，注意对准充电极片。
            <br>b 、新机充满后再使用，充电前，请将地宝的电源开关打开。<br>
            c 、充电时，请不要给水箱中注水。建议在每次使用拖地功能的时候再给水箱中注入适量的水，并且定期清洗抹布。充电时，启动灯闪烁；</p>  
          <img src="../images/6.jpg">
        </div>
      </div>
      <div class="row step">
        <div class="row__left step__num">6</div>
        <div class="row__content">
          <h3>新机如何开启自动清扫模式</h3>
          <p>启动方式：</p>
          <p>a、短按主机启动键，主机进入自动清扫模式。（启动键位置可参考说明书）</p>
          <img src="../images/7.jpg">
          <p>（此图仅作参考，具体可参照说明书，以实际购买机型为准）</p>
          <p>b、如果机器配有遥控器，也可以短按遥控器启动键进行操控）<br>c、若购买机型可用手机远程连接操作的，您还可以在连接WIFI操作时可参照随说明书一起赠送您的快速使用指南、也可以联系客服咨询。</p>  
        </div>
      </div>
      <div class="row step">
        <div class="row__left step__num">7</div>
        <div class="row__content">
          <h3>主机工作中如何暂停工作</h3>
          <p>主机工作中，短按启动键，主机暂停工作（启动键位置可参考说明书）</p>
          <img src="../images/8.jpg">
          <p>（此图仅作参考，具体可参照说明书，以实际购买机型为准）</p>
        </div>
      </div>
      <div class="row step">
        <div class="row__left step__num">8</div>
        <div class="row__content">
          <h3>如何关机</h3>
          <p>暂停工作后，将主机电源开关关闭，即关机成功；（开关键键位置可参考说明书）</p>
          <img src="../images/9.jpg">
          <p>（此图仅作参考，具体可参照说明书，以实际购买机型为准）<br>主机结束后，建议勿关机，保持主机在充电状态，以便更好的进行下一次工作；</p>
        </div>
      </div>
      <div class="row step">
        <div class="row__left step__num">8</div>
        <div class="row__content">
          <h3>使用时有哪些注意事项?</h3>
          <p>1、地面上散落的电源线、玩具等物品，有可能会绊住或缠绕地宝，请注意整理；</p>
          <img src="../images/9.jpg">
          <p>（此图仅作参考，具体可参照说明书，以实际购买机型为准）</p>
          <p>主机结束后，建议勿关机，保持主机在充电状态，以便更好的进行下一次工作；
            <br>
            2、主机工作结束后，建议勿关机；保持主机在充电状态，以便更好的进行下一次工作。
            <br>
            3、打开电源开关后，待启动键闪烁后常亮，方可进行操作机器；
          </p>
        </div>
      </div>
    </div>
  </div>
</c:layout>