<!--窗宝频道  -->
<c:layout>
    <link rel="stylesheet" href="../styles/index.css">
    <div class="channel">
      <div class="row"><img src="https://static.ecovacs.cn/upload/image/20170921/20170921182313_85092.jpg" alt="" /></div>
      <div class="row">
        <div class="col-6"><img src="https://static.ecovacs.cn/upload/image/20170921/20170921182313_37778.jpg" alt="" /></div>
        <div class="col-6">
            <div class="con cRight">
                <h2>安全</h2>
                <p class="f26">擦你擦不到的，看到未曾看到的。</p>
                <p>窗宝不仅可擦高处、外窗，有框、无框等玻璃均可放心擦。<br>心之所及，目之所及。</p>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="con cLeft">
              <h2>干净</h2>
              <p class="f26">眼界明朗，心情自然舒畅。</p>
              <p>四重清洁系统，全面保障擦窗效果。洁净得出色，<br>还原视界的本色。</p>
          </div>
        </div>
        <div class="col-6"><img src="https://static.ecovacs.cn/upload/image/20170921/20170921182313_54261.jpg" alt="" /></div>
      </div>
      <div class="row">
        <div class="col-6"><img src="https://static.ecovacs.cn/upload/image/20170921/20170921182313_61924.jpg" alt="" /></div>
        <div class="col-6">
            <div class="con cRight">
                <h2>便捷</h2>
                <p class="f26">随时一键清洁，随时享受愉悦。</p>
                <p>机身轻巧，一键便捷操作，工作结束后自动返回起始点<br>附近，方便取下。擦窗省力，生活省心。</p>
            </div>
          </div>
      </div>
      <div class="row product">
        <div class="product__title">窗宝产品全系列</div>
        <div class="product__desc">多界延展 只能切换路线</div>
        <div class="product__items">
            <img src="https://static.ecovacs.cn/upload/image/20170921/20170921182314_65998.jpg" alt="" />
            <img src="https://static.ecovacs.cn/upload/image/20170921/20170921182314_53319.jpg" alt="" />
        </div>
        <div class="product__desc">智能规划 高效便捷</div>
        <div class="product__items">
          <img src="https://static.ecovacs.cn/upload/image/20170921/20170921182314_82611.jpg" alt="" />
          <img src="https://static.ecovacs.cn/upload/image/20170921/20170921182314_70010.jpg" alt="" />
        </div>
      </div>
  
    </div>
  
  </c:layout>