<!--地宝频道页  -->
<c:layout>
  <link rel="stylesheet" href="../styles/index.css">
  <div class="channel dibao">
    <div class="row"><img src="https://static.ecovacs.cn/upload/image/20170921/20170921201621_71552.jpg" alt="" /></div>
    <div class="row">
      <div class="col-6">
        <div class="con cLeft">
          <p class="text1">AM 08:00</p>
          <p class="text2">一键开启美好的一天</p>
          <p class="text3">生活的美妙，源自简单的美好。轻松一键，洁净<br>的地面随后呈现。放心去工作，放手去生活！</p>
        </div>
      </div>
      <div class="col-6"><img src="https://static.ecovacs.cn/upload/image/20170921/20170921201622_75693.jpg" alt="" /></div>
    </div>
    <div class="row">
      <div class="col-6"><img src="https://static.ecovacs.cn/upload/image/20170921/20170921201622_36217.jpg" alt="" /></div>
      <div class="col-6">
        <div class="con cRight">
          <p class="text1">PM 12:00</p>
          <p class="text2">打开APP，清洁随时随地</p>
          <p class="text3">无论是在上班还是在度假，手机APP随时随地查<br>看地宝的清扫状态、预约清扫时间。远程地面清<br>洁，尽在你的指尖。</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="con cLeft">
          <p class="text1">PM 17:30</p>
          <p class="text2">光洁如新的家，静候你回家</p>
          <p class="text3">清扫工作结束之后，地宝会自己回到充电座充电<br>。当你打开门，迎接你的是一个焕然一新的家。</p>
        </div>
      </div>
      <div class="col-6"><img src="https://static.ecovacs.cn/upload/image/20170921/20170921201622_68382.jpg" alt="" /></div>
    </div>
    <div class="row">
      <div class="col-6"><img src="https://static.ecovacs.cn/upload/image/20170921/20170921201622_98111.jpg" alt="" /></div>
      <div class="col-6">
        <div class="con cRight">
          <p class="text1">Weekend</p>
          <p class="text2">创造洁净时刻，享受每时每刻</p>
          <p class="text3">扫地、拖地，承包你的地面清洁。你可以用空闲的<br>时间去参加派对，与家人享受欢聚时光。不用十分<br>努力，生活也能毫不费力。</p>
        </div>
      </div>
    </div>

    <div class="row product">
      <div class="product__title">地宝产品全系列</div>
      <div class="product__desc">专注扫拖 深度清洁</div>
      <div class="product__items">
        <img src="https://static.ecovacs.cn/upload/image/20170921/20170921201622_27409.jpg" alt="" />
        <img src="https://static.ecovacs.cn/upload/image/20170921/20170921201622_76307.jpg" alt="" />
        <img src="https://static.ecovacs.cn/upload/image/20170921/20170921201622_45370.jpg" alt="" />
        <img src="https://static.ecovacs.cn/upload/image/20170921/20170921201622_69605.jpg" alt="" />
      </div>
      <div class="product__desc">智能规划 高效便捷</div>
      <div class="product__items">
        <img src="https://static.ecovacs.cn/upload/image/20170921/20170921201622_68316.jpg" alt="" />
        <img src="https://static.ecovacs.cn/upload/image/20170921/20170921201622_71687.jpg" alt="" />
        <img src="https://static.ecovacs.cn/upload/image/20170921/20170921201622_66202.jpg" alt="" />
        <img src="https://static.ecovacs.cn/upload/image/20170921/20170921201622_51343.jpg" alt="" />
      </div>
      <div class="product__desc">智能规划 高效便捷</div>
      <div class="product__items">
        <img src="https://static.ecovacs.cn/upload/image/20170921/20170921201623_48075.jpg" alt="" />
        <img src="https://static.ecovacs.cn/upload/image/20170921/20170921201623_96322.jpg" alt="" />
      </div>
      <div class="product__desc">智能规划 高效便捷</div>
      <div class="product__items">
        <img src="https://static.ecovacs.cn/upload/image/20170921/20170921201623_17005.jpg" alt="" />
      </div>
    </div>

    <div class="row product-select">
      <div class="select-title">选购小助手为您推荐所需的机型</div>
      <div class="select-options row">
        <dl data-type="mj">
          <dt>请选择房间面积：</dt>
          <dd data-cid="48"><i></i>100平方以下</dd>
          <dd data-cid="49"><i></i>100-120平方左右</dd>
          <dd data-cid="50"><i></i>120平方以上</dd>
        </dl>
        <dl data-type="dmlx">
          <dt>请选择地面类型：</dt>
          <dd data-cid="64"><i></i>地毯</dd>
          <dd data-cid="65"><i></i>地板</dd>
          <dd data-cid="66"><i></i>地毯地板混合型</dd>
        </dl>
        <dl data-type="hjlx">
          <dt>请选择环境类型：</dt>
          <dd data-cid="54"><i></i>专治毛发</dd>
          <dd data-cid="55"><i></i>深度扫尘</dd>
          <dd data-cid="56"><i></i>扫拖一体</dd>
        </dl>
      </div>
      <div class="select-result row"></div>
      <div class="f-action">
        <button type="button" disabled class="recommend-btn">为我推荐</button>
      </div>
    </div>
  </div>
  <script slot="script">
    var attr = {mj:'', dmlx:'', hjlx:''};
    var $recommendBtn = $(".recommend-btn");
    $(".select-options dd").on('click', function(e){
      var $this = $(this);
      var type = $this.parent().data('type');
      if( $this.hasClass('checked') ){
        $this.removeClass('checked');
        attr[type] = '';
      }else{
        $this.addClass('checked').siblings().removeClass('checked');
        attr[type] = $this.data('cid');
      }

      $recommendBtn.prop('disabled', ($(".select-options dd.checked").length===0));
    });

    $recommendBtn.on('click', function(){
      util.jsonp(API_URL+'/commonApi/recommendGoodsAttribute?mj='+attr.mj+'&dmlx='+attr.dmlx+'&hjlx='+attr.hjlx, function(res){
        location.href = SHOP_URL+"/deebot-list.html?attr="+res.attr ;
      })
    })
    
  </script>
</c:layout>