<!--沁宝频道页  -->
<c:layout>
  <link rel="stylesheet" href="../styles/index.css">
  <div class="channel">
    <div class="row"><a href="#"><img src="https://static.ecovacs.cn/upload/image/20170921/20170921201303_80660.jpg" alt="" /></a></div>
    <div class="row">
      <div class="col-6">
        <div class="con cLeft">
          <p class="f26">移动净化<br>更懂你的家</p>
          <p>机器人智能移动平台技术，让沁宝能够一次净<br>化所有的房间。360°净距离，关爱全家人的呼<br>吸。</p>
        </div>
      </div>
      <div class="col-6"><img src="https://static.ecovacs.cn/upload/image/20170921/20170921193437_54027.jpg" alt="" /></div>
    </div>
    <div class="row">
      <div class="col-6"><img src="https://static.ecovacs.cn/upload/image/20170921/20170921193437_52496.jpg" alt="" /></div>
      <div class="col-6">
        <div class="con cRight">
          <p class="f26">你的空气助理<br>时刻应你所需</p>
          <p>书房，儿童房，起居室，餐厅，你想让沁宝去哪<br>里，它都可以自主前往净化。你的专属洁净，听<br>你的指令。</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="con cLeft">
          <p class="f26">专业净化<br>给你最纯净的呼吸</p>
          <p>优化空气动力结构，配合专业净化滤芯，洁净好<br>空气，畅快深呼吸。</p>
        </div>
      </div>
      <div class="col-6"><img src="https://static.ecovacs.cn/upload/image/20170921/20170921193437_62122.jpg" alt="" /></div>
    </div>
    <div class="row">
      <div class="col-6"><img src="https://static.ecovacs.cn/upload/image/20170921/20170921193437_16255.jpg" alt="" /></div>
      <div class="col-6">
        <div class="con cRight">
          <p class="f26">你想要的小清新<br>一键就清新</p>
          <p>当你在外面的时候，可以通过手机APP设定好净<br>化时间。沁宝会即刻响应指令，净化完所有的房间<br>后，自己回到充电座。清新的家，迎接你回家。</p>
        </div>
      </div>
    </div>
    <div class="row qinbao">
      <div class="product">
        <div class="product__title">沁宝产品全系列</div>
        <div class="product__desc">移动净化 一台顶多台</div>
        <div class="product__items">
          <img src="https://static.ecovacs.cn/upload/image/20170921/20170921193437_94779.jpg" alt="" />
          <img src="https://static.ecovacs.cn/upload/image/20170921/20170921193437_22797.jpg" alt="" />
        </div>
      </div>
    </div>

  </div>

</c:layout>