<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_362422_cs8jiw1j8jxxbt9.css">
  <link rel="stylesheet" href="//dev-static.ecovacs.cn/om/styles/base_117067c4.css">
  <script>"use strict";var API_URL='http://dev-shop-api.ecovacs.cn/shopApi',SITE_URL='http://official-13.ecovacs.cn',STATIC_URL='//qas-static.ecovacs.cn/op',SHOP_URL='http://dev-mall.ecovacs.cn',ACCOUNT_URL='http://dev-order.ecovacs.cn',SHOP_CART_URL='http://dev-order.ecovacs.cn/cart';</script>
  <script src="//qas-static.ecovacs.cn/op/vendors/jquery/jquery-1.12.4.min.js"></script>

</head>
<body>
  <slot />
</body>
</html>