<!--孵化加速器  -->
<c:layout>
  <link rel="stylesheet" href="../styles/index.css" slot="style">
  <div class="container f">
    <h2 class="f__title">科沃斯蒲公英孵化加速器</h2>
    <div class="f__content">
      <img src="../images/p1.jpg">
      <p>
        科沃斯蒲公英孵化加速器是国内首家专注于人工智能、机器人领域的专业型、生态型孵化加速器。 孵化加速器依托于科沃斯机器人完整的服务机器人产业链资源、蒲公英完善的孵化体系而成立，配套了充足的产业资金和人工智能、机器人专项基金，重点发掘和服务于该领域内的科技创新类项目，为优质的初创企业提供孵化、加速及投资服务。
      </p>
      <h3 class="f__subtitle">服务内容：<br>以产业资源为基础，为企业提供更精准、更高效的深度服务</h3>
      <div class="l-table">
        <div class="l-table__item">
          <b>· 资源支持</b>
          <p>产业资源对接：提供从研发、设计到生产、销售的全产业链支持 大企业对接：与一流大企业深度对话，促成合作机会
          </p>
          <b>· 资金支持</b>
          <p>政策资质申报：为企业提供人才、项目等全方位的政策申报 融资辅导对接：协助优化BP，提升路演能力，对接投资机构 投资支持：科沃斯产业资本直投，顺融VC基金重点关注
          </p>
          <b>· 能力提升支持</b>
          <p>基础能力提升：提供营销、管理、技术、财务、商业等多维度的咨询培训<br> 私董会：势均力敌的项目创始人与产业龙头高管以及投资人之间的深度对话
          </p>
          <b>· 品牌支持</b>
          <p>品牌曝光：媒体专访、专题报道、品牌活动支持<br> 品牌建设：经营策略辅导、营销市场策略咨询、品牌建设辅导
          </p>
        </div>
        <div class="l-table__item text-right">
          <img src="../images/p2.jpg">
        </div>
      </div>
      <h3 class="f__subtitle">日常活动：<br> 助力人工智能、机器人领域创业者深度交流、快速成长
      </h3>
      <div class="l-table">
        <div class="l-table__item">
          <img src="../images/p3.jpg">
        </div>
        <div class="l-table__item gap-f">
          <b>· AI小学问：</b>
          <p>面向普通人的AI科普小课堂</p>
          <b>· 摩尔课堂：</b>
          <p>科技创业者的成长课堂，包含技术、经验、产业、思维四大系列</p>
          <b>· 荆棘与玫瑰：</b>
          <p>80分钟深度、高效、定制化的融资对接服务</p>
          <b>· 加速营：</b>
          <p>3个月体系化成长计划，助力企业加速成长</p>
        </div>
      </div>
      <h3 class="f__subtitle">孵化加速项目：<br> 聚焦人工智能、机器人领域，已孵化加速多个明星项目</h3>
      <div class="l-table">
        <div class="l-table__item">
          <table class="f__table">
            <tbody>
              <tr .for="item in [
                ['竹间智能','北醒光子','狗尾草'],
                ['钛米医疗机器人','乐派特实物编程机器人','速感科技'],
                ['舵敏智能科技','邦鼓思草坪机器人','木牛机器人']
              ]">
                <td .for="name in item">{%name%}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="l-table__item text-right">
          <img src="../images/p4.jpg">
        </div>
      </div>
      <h3 class="f__subtitle">联系我们</h3>
      <div class="l-table">
        <div class="l-table__item">
          <img src="../images/p5.jpg">
        </div>
        <div class="l-table__item gap-f">
          联系人：陈亮<br> 联系电话：135 8593 7790<br> BP投递邮箱：aibp@pgy.space
          <br> 联系地址：上海市徐汇区钦州北路1199号87号7楼
        </div>
      </div>
    </div>
  </div>
</c:layout>