/* @import "index.css"; */

:root {
  --lh: 2.3rem;
  --btn-width: 13rem;
  --gray: #7c868f;
  --color-primary: #193c58;
  --color: #fff;
  --color-dark: #e40046;
  --fs-base: 4vw;
}

html {
  font-family: '方正兰亭细黑', '微软雅黑';
  font-size: var(--fs-base);
  line-height: 1.5;
}

.link-dark {
  font-size: .8rem;
  text-decoration: underline;
  color: var(--color);
  &:any-link {
    color: var(--color);
  }
}

.wrap-full {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background: #193c58;
  overflow: auto;
  background: var(--color-primary) url(../images/bg.jpg) 0 center no-repeat;
  background-size: 100% auto;
}

.wrap-con {
  width: 78.6%;
  margin: 0 auto
}

.form-control {
  border: 1px solid;
  background: transparent;
  width: 100%;
  box-sizing: border-box;
  color: var(--color);
  line-height: var(--lh);
  text-align: center;
  &::-webkit-input-placeholder {
    color: var(--color)
  }
}

button,
input {
  &:focus {
    outline: none;
  }
}

.form-line {
  margin: 1.53rem 0;
}

.row {
  overflow: auto;
}

.row__left {
  float: left;
}

.row__right {
  float: right;
}

.row__main {
  overflow: hidden;
}

.w-full {
  width: 100%;
}

.product-img {
  width: 43.5%
}

.btn-normal {
  background: var(--color-dark);
  color: var(--color);
  line-height: var(--lh);
  border: 0;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  text-align: center;
  border: 1px solid var(--color-dark);
}

.btn-dotted {
  color: var(--color);
  border: 1px solid;
  line-height: var(--lh);
  font-size: 1.4rem;
  width: 100%;
  box-sizing: border-box;
  transition: .3s;
  position: relative;
  background: transparent;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 6rem;
    height: 3rem;
    transform: translate(-50%, -50%);
    animation: orbit 3s infinite;
    animation-timing-function: linear;
    background: url(../images/l.png) center center;
    /* background: radial-gradient(ellipse, #fff, rgba(91,218,255,1), rgba(91,218,255,0.2) 70%, rgba(91,218,255,0.1) 80%); */
    background-size: cover;
    border-radius: 50%;
  }
}

@keyframes orbit {
  40% {
    left: 90%;
    opacity: 1;
  }
  45% {
    left: 100%;
    top: 0;
    opacity: 0;
  }
  50% {
    opacity: 0;
    left: 100%;
    top: 100%;
  }
  50% {
    opacity: 1;
    left: 100%;
    top: 100%;
  }
  90% {
    left: 10%;
    top: 100%;
    opacity: 1;
  }
  95% {
    left: 0;
    top: 100%;
    opacity: 0;
  }
}

.is-clicking {
  color: inherit;
}

.tc {
  text-align: center;
}

.rule {
  padding: 1rem;
  font-size: 0.8rem;
}

.rule__title {
  text-align: center;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    background: #000;
    height: 1px;
  }
  @nest & span {
    display: inline-block;
    position: relative;
    z-index: 1;
    background: var(--color);
    padding: 0 1rem;
  }
}

.rule__section {
  line-height: 1.4;
  margin-top: 1.5rem;
  @nest & .row {
    margin: .3rem 0
  }
}

.rule__name {
  margin-bottom: .4rem;
  @nest & span {
    display: inline-block;
    background: var(--gray);
    color: var(--color);
    padding: .2rem .5rem;
    border-radius: .3rem;
  }
}

.msg-error {
  display: none;
  position: absolute;
  color: #dd1a4e;
  margin-top: -.3rem;
}

.trial-banner {
  margin: 2.6rem 0;
  text-align: center;
  @nest & img {
    width: 70%
  }
}

.trial-title {
  text-align: center;
  @nest & h1 {
    color: var(--color);
    font-weight: normal;
    font-size: 1.8rem;
    margin: 2rem 0;
  }
  @nest & h2 {
    color: var(--color);
    font-weight: normal;
    font-size: 1.4rem;
  }
}

#dialog2 {
  @nest & .dialog__content {
    background: rgba(255, 255, 255, 0.33);
    text-align: center;
    color: var(--color);
    line-height: 2rem;
    border: 1px solid var(--color);
  }
  @nest & ul {
    list-style: none;
    padding: 0
  }
  @nest & li::before {
    content: '';
    display: block;
    height: 1px;
    background: linear-gradient(to right, #fff2, #fff, #fff2)
  }
}

.wrap-witness {
  position: absolute;
  bottom: 7%;
  text-align: center;
  width: 75%;
  left: 0;
  right: 0;
  margin: 0 auto;
  .row {
    margin: .6rem 0;
  }
}

.btn--witness {
  font-size: 1rem;
}

.witness-time {
  /* background: #a4acb3; */
  color: var(--color);
  line-height: 2;
  border-radius: .4rem;
  @nest & span {
    background: var(--color);
    color: var(--color-primary);
  }
}

.head {
  display: inline-block;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  vertical-align: middle;
  margin: 0 1rem;
  box-shadow: 0 0 1rem #f1f1f1;
  img {
    width: 100%;
    height: 100%;
  }
}

.witness-num {
  color: #e40046;
  font-size: 1.2rem;
  vertical-align: middle;
  position: relative;
  &.is-adding {
    &:before {
      opacity: 1;
      opacity: 0;
      content: "+"attr(data-num);
      position: absolute;
      left: 100%;
      top: 0;
      animation: num-add 1s;
    }
  }
}

@keyframes num-add {
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, -50%);
  }
}

.witness-star {
  display: inline-block;
  vertical-align: middle;
  transition: 2s;
  width: 1.4rem;
  height: 1.2rem;
  position: relative;
  background: url(../images/trial-witness-star.png);
  background-size: 100% 100%;
  position: relative;
  &.is-adding {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: inherit;
      animation: up-disappear .7s;
    }
  }
}

@keyframes up-disappear {
  20% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, -100%);
  }
}

.product-know {
  position: absolute;
  width: 4rem;
  margin-top: 2rem;
  margin-left: -1rem;
  animation: updown 3s infinite;
}

@keyframes updown {
  50% {
    transform: translate(0, .7rem);
  }
}

.is-past-date {
  @nest & .btn-dotted {
    color: #9ea7ae;
  }
}

.btn-normal {
  @nest .is-past-date &,
  &:disabled {
    background: #9ea7ae;
    border-color: #9ea7ae;
  }
}

.trial-share {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  z-index: 1;
}

.trial-subscribe {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.is-slide {
  transform: translate(0, 0);
}

.is-disappear {
  transform: translate(-100%, 0)
}

.trial-emoj {
  width: 2em;
  vertical-align: bottom;
}

.vcode {
  height: 2.4rem;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.trial-s img {
  width: 100%;
  margin: 2.6rem 0 1.3rem
}